@charset "utf-8";
* { padding: 0; margin: 0; }
canvas {display: block; margin: 0; }
div#objectOperate {
  position: absolute;
  left: 128px;
  margin: 10px 20px;
  width: 96px;
  height: 60px;
}
div#objectOperate > button {
  position: absolute;
  width: 32px;
  height: 20px;
}
div#objectOperate > button#rotZR {
  left: 66%;
  top: 0%;
}
div#objectOperate > button#rotZL {
  left: 0%;
  top: 0%;
}
div#objectOperate > button#rotR {
  left: 66%;
  top: 33%;
}
div#objectOperate > button#rotL {
  left: 0%;
  top: 33%;
}
div#objectOperate > button#rotU {
  left: 33%;
  top: 0%;
}
div#objectOperate > button#rotD {
  left: 33%;
  top: 66%;
}
div#playerOperate {
  position: absolute;
  margin: 10px 0;
  width: 128px;
  height: 60px;
}
div#playerOperate > button {
  position: absolute;
  width: 32px;
  height: 20px;
}
div#playerOperate > button#forward {
  left: 25%;
  top: 0%;
}
div#playerOperate > button#backward {
  left: 25%;
  top: 33%;
}
div#playerOperate > button#right {
  left: 50%;
  top: 33%;
}
div#playerOperate > button#left {
  left: 0%;
  top: 33%;
}
div#playerOperate > button#up {
  left: 0%;
  top: 0%;
}
div#playerOperate > button#down {
  left: 50%;
  top: 0%;
}
div#playerOperate > button#rotR {
  left: 50%;
  top: 66%;
}
div#playerOperate > button#rotL {
  left: 0%;
  top: 66%;
}
div#playerOperate > button#rotU {
  left: 75%;
  top: 0%;
}
div#playerOperate > button#rotD {
  left: 75%;
  top: 66%;
}
div#debug {
  position: absolute;
  margin: 10px 0;
  width: 128px;
  height: 60px;
  left: 256px;
}
